.app-title {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title-span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
}

.app-card {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.center-div {
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}